---
import Layout from "../layouts/Layout.astro";
---

<Layout title="GCHS Student Sites">
	<main class="h-full flex flex-col">
		<header class="text-3xl md:text-5xl lg:text-7xl text-center pt-4 text-green-600">
			GCHS Student Sites
		</header>
		<div class="inline-flex self-center items-center h-full">
			<div class="md:w-[50vw] h-[50vh] w-screen border-4 border-green-600">Hello</div>
		</div>
	</main>
</Layout>
