---
import Layout from '../layouts/Layout.astro';
---

<Layout title="GCHS Student Sites">
	<main>
		<header class="text-3xl md:text-5xl lg:text-7xl text-center mt-4">GCHS Student Sites</header>
		<div class="flex justify-center items-center mt-48">
			<div class="md:w-[50vw] h-[50vh] w-screen border-4">
				Hello
			</div>
		</div>
	</main>
</Layout>
