---
import Layout from "../layouts/Layout.astro";
---

<Layout title="GCHS Student Sites">
	<main class="h-full flex flex-col">
		<header
			class="text-3xl md:text-5xl lg:text-7xl text-center pt-4 text-GC_Green font-warhawk"
		>
			GCHS Student Sites
		</header>
		<div class="inline-flex self-center items-center h-full">
			<div
				class="md:w-[75vw] h-[75vh] w-screen border-4 border-GC_Green inline-flex items-center justify-center text-2xl"
			>
				<!-- <a href="http://localhost:3001/sites/lharding" class="underline text-blue-500">Luke Harding</a> -->
			</div>
		</div>
	</main>
</Layout>
